#main{
    background-color: grey;
    width: 300px;
    height:150px;
    margin: 50px auto;
    padding: 20px;
}

#input{
    width:20px;
}

#result{
    margin: 30px 0px;
    background-color:white;
    width:80%;
}