#main{
    background-color: grey;
    box-shadow: 2px 2px 5px;
    border: 1px solid rgba(128, 128, 128, 0.329);
    border-radius: 5px;
    width: 300px;
    height:150px;
    margin: 50px auto;
    padding: 20px;
}

#buttonOne{
    border:1px solid black;
    border-radius:10px;
    width: 140px;
    height: 20px;
    text-align: center;
}

#buttonOne:hover{
    font-weight: bold;
}

#buttonOne:active{
    background-color:rgb(192, 189, 189);
}

#input{
    width:20px;
    border: 1px solid rgba(0, 0, 0, 0.822);
}

#result{
    margin: 30px 0px;
    border: 1px solid rgba(0, 0, 0, 0.822);
    background-color:white;
    width:80%;
}